<ion-view title="Validation modification" id="page15">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 id="game_settings_valid-heading4" style="color:#000000;text-align:center;">Les modifications ont bien été enregistrées !</h2>
        <a ui-sref="menu.game_set_players" id="game_settings_valid-button34" class="button button-balanced  button-block">Retourner sur ma partie</a>
        <a ui-sref="menu.home" id="game_settings_valid-button35" class="button button-balanced  button-block">Retour à l'accueil</a>
    </ion-content>
</ion-view>