<ion-view title="Mes parties - J'ai participé" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div class="button-bar">
            <div style="margin-right:-20px;">
                <a ui-sref="menu.game_organize" id="game_participated-button28" style="left:-10px;font-weight:;font-size:16px;" class="button button-balanced  button-full">J'organise</a>
            </div>
            <a ui-sref="menu.game_participate" id="game_participated-button29" style="font-weight:;font-size:16px;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block">Je participe</a>

            <div style="margin-right:-20px;">
                <button id="game_participated-button30" style="left:-10px;font-weight:;" class="button button-balanced  button-full">J'ai participé</button>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.game_details">
                <img>
                <h2>Ville date</h2>
                <p>Jeux</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>