<ion-view title="Modifier paramètres" id="page14">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Horaire</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Ville</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>Bar</ion-checkbox>
            <ion-checkbox>Chez moi</ion-checkbox>
            <ion-checkbox>Extérieur</ion-checkbox>
            <label class="item item-input">
                <span class="input-label">Jeux</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Nombre de place</span>
                <input type="number" placeholder="">
            </label>
            <a ui-sref="menu.game_settings_valid" id="game_settings_modify-button33" style="font-weight:;" class="button button-balanced  button-block">Enregistrer modifications</a>
        </form>
    </ion-content>
</ion-view>