<ion-view title="Modifier profil" id="page19">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Pseudo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Sexe</span>
                <select>
                    <option>Femme</option>
                    <option>Homme</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <label class="item item-input">
                <span class="input-label">Adresse</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Code postale</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Ville</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="menu.profil" id="set_profil-button38" style="font-weight:;" class="button button-balanced  button-block">Enregistrer les modifications</a>
        </form>
    </ion-content>
</ion-view>