<ion-view title="Connexion" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Pseudo</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>

            <a ui-sref="menu.home" id="sign_in-button2" style="font-weight:;" class="button button-balanced  button-block">Se connecter</a>

            <a ui-sref="menu.sign_up" id="sign_in-button3" style="font-weight:;" class="button button-balanced  button-block button-clear">Ou inscris toi !</a>
        </form>
    </ion-content>
</ion-view>