<ion-view title="Authentication" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/euNM7qfYSKOUx0oSLeFV_Sans titre.png" width="100%" height="auto">
        </div>

        <a ui-sref="sign_in" id="home-button4" style="font-weight:;" class="button button-balanced  button-block">Se connecter</a>

            <a ui-sref="sign_up" id="home-button5" style="font-weight:;" class="button button-balanced  button-block">S'incrire</a>

      
    </ion-content>
</ion-view>