<ion-view title="Validation création partie" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2 id="validationCrAtionPartie-heading1" style="color:#000000;text-align:center;">Votre partie a bien été enregistrée !</h2>
        <a ui-sref="menu.game_organize" id="create_game_valid-button6" class="button button-balanced  button-block">Voir mes parties</a>
        <a ui-sref="menu.home" id="create_game_valid-button7" class="button button-balanced  button-block">Retour à l'accueil</a>
    </ion-content>
</ion-view>