<ion-view title="Mes parties - J'organise" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div class="button-bar">
            <div style="margin-right:-20px;">
                <button id="game_organize-button21" style="left:-10px;font-weight:;font-size:16px;" class="button button-balanced  button-full">J'organise</button>
            </div>
            <a ui-sref="menu.game_participate" id="game_organize-button22" style="font-weight:;font-size:16px;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block">Je participe</a>
            <div style="margin-right:-20px;">
                <a ui-sref="menu.game_participated" id="game_organize-button23" style="left:-10px;font-weight:;" class="button button-balanced  button-full">J'ai participé</a>
            </div>
        </div>
        <ion-list ng-repeat="party in parties">
            <ion-item class="item-thumbnail-left" ui-sref="menu.game_set_players">
                <img>
                <h2>{{party.name}}</h2>
                <p>{{party.bordgames}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>