<ion-view title="Gérer ma partie - Paramètres" id="page13">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.game_set_players" id="game_settings-button20" class="button button-balanced  button-block">Participants</a>
            <button id="game_settings-button24" class="button button-balanced  button-block">Paramètres</button>
        </div>
        <ion-list>
            <ion-item>Date :</ion-item>
            <ion-item>Heure :</ion-item>
            <ion-item>Lieu :</ion-item>
            <ion-item>Jeux :</ion-item>
            <ion-item>Description :</ion-item>
            <ion-item>Nombre de participants max :</ion-item>
        </ion-list>
        <a ui-sref="menu.game_settings_modify" id="game_settings-button19" class="button button-balanced  button-block">Modifier les paramètres</a>
    </ion-content>
</ion-view>