<ion-view title="Gérer ma partie - Participants" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="game_set_players-button8" class="button button-balanced  button-block">Participants</button>
            <a ng-click="show(party_id)" id="game_set_players-button9" class="button button-balanced  button-block">Paramètres</a>
        </div>
        <h4 id="game_set_players-heading2" style="color:#000000;">Personnes souhaitant participer</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nom</h2>
                <p>Description</p>
            </ion-item>
        </ion-list>
        <button id="game_set_players-button36" class="button button-balanced  button-block">Accepter</button>
        <h4 id="game_set_players-heading3" style="color:#000000;">Personnes déjà acceptée</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nom</h2>
                <p>Descritpion</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>