<ion-view title="Voir partie" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
           <ion-item>Nom : {{party.name}}</ion-item>
            <ion-item>Date : {{party.date}} </ion-item>
            <ion-item>Heure : {{party.time}}</ion-item>
            <ion-item>Lieu : {{party.place}}</ion-item>
            <ion-item>Jeux : {{party.boardgames}}</ion-item>
            <ion-item>Description : {{party.description}}</ion-item>
            <ion-item>Nombre de participants max : {{party.max_participant}}</ion-item>
        </ion-list>
        <h4 id="game_details-heading6" style="color:#000000;">Participants :</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nom</h2>
                <p>Description</p>
            </ion-item>
        </ion-list>
        <a ui-sref="menu.apply_game" id="game_details-button43" class="button button-balanced  button-block">Participer</a>
    </ion-content>
</ion-view>