<ion-view title="Accueil" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
		<a ui-sref="menu.search_game" id="accueil-button13" style="font-weight:;" class="button button-balanced  button-block">Rechercher une partie</a>

        <a ui-sref="menu.create_game" id="accueil-button13" style="font-weight:;" class="button button-balanced  button-block">Créer une partie</a>

        <a ui-sref="menu.game-organize" id="accueil-button13" style="font-weight:;" class="button button-balanced  button-block">Mes parties</a>
        
       
    </ion-content>
</ion-view>