<ion-view title="Mon profil" id="page16">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nom</h2>
                <p>Description</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Adresse</ion-item>
            <ion-item>Code postale</ion-item>
            <ion-item>Ville</ion-item>
        </ion-list>
        <a ui-sref="menu.set_profil" id="profil-button37" class="button button-balanced  button-block">Modifier mon profil</a>
    </ion-content>
</ion-view>