<ion-view title="Rechercher une partie" id="page17">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Ville</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>Bar</ion-checkbox>
            <ion-checkbox>Exterieur</ion-checkbox>
            <ion-checkbox>Particulier</ion-checkbox>
            <ion-checkbox>Indifférent</ion-checkbox>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <ion-checkbox>Entre amis</ion-checkbox>
        </form>
       
        <a ui-sref="menu.search_game_results" id="search_game-button31" style="font-weight:;" class="button button-balanced  button-block">Lancer la recherche</a>

    </ion-content>
</ion-view>