<ion-view title="Inscription" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Pseudo</span>
                <input type="text" placeholder="" ng-model="user.pseudo">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="number" placeholder="" ng-model="user.age">
            </label>
            <label class="item item-select">
                <span class="input-label">Sexe</span>
                <select ng-model="user.gender">
                    <option value="Femme">Femme</option>
                    <option value="Homme">Homme</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <label class="item item-input">
                <span class="input-label">Adresse</span>
                <input type="text" placeholder="" ng-model="user.address">
            </label>
            <label class="item item-input">
                <span class="input-label">Code postale</span>
                <input type="text" placeholder="" ng-model="user.zipcode">
            </label>
            <label class="item item-input">
                <span class="input-label">Ville</span>
                <input type="text" placeholder="" ng-model="user.city">
            </label>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" placeholder="" ng-model="user.description">
            </label>
            <label class="item item-input">
                <span class="input-label">Jeux possédés</span>
                <input type="text" placeholder="" ng-model="user.game">
            </label>
            <div class="spacer" style="width: 300px; height: 28px;"></div>
            <label class="item item-input">
                <span class="input-label">Mot de passe</span>
                <input type="text" placeholder="" ng-model="user.password" >
            </label>
            <ion-checkbox>J'accepte les conditions</ion-checkbox>
            
               <a id="sign_in-button2" style="font-weight:;" ng-click="signup()" class="button button-balanced  button-block">Enregistrer le profil</a>
        </form>
    </ion-content>
</ion-view>